.ProductList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 300px) and (max-width: 767px) {
  .ProductList {
    display: block;
    align-content: center;
  }
  .header {
    color: blue;
  }
}
