.ProductList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  text-align: center;
}
.description {
  text-align: center;
}

@media (max-width: 767px) {
  .ProductList {
    display: block;
    align-content: center;
  }
}
