.header {
  background-color: white;
  padding: 0;
}

.container {
  position: relative;
  min-height: 100vh;
}

.mainContent {
  display: flex;
  justify-content: center;
  background-color: white;
  padding-bottom: 1rem;
}

.footer {
  display: table-row;
  flex-shrink: 0;
  text-align: center;
  background-color: rgb(151, 151, 151);
  color: white;
}
