.App {
  background: url("../../../../../assets/wideImage3.jpg");
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.AppContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  padding: 40px;
}

.TextStyling {
  color: white;
  font-size: 30px;
}
.paragraph {
  color: white;
  font-family: "Brandon Grotesque";
  font-size: 15px;
}

.Card {
  width: 300px;
}

@media (max-width: 767px) {
  .App {
    background-position: center center;
  }

  .App-content {
    align-items: flex-end;
    justify-content: center;
  }

  // .TextStyling {
  //   font-size: 20px;
  // }
  // .paragraph {
  //   font-size: 10px;
  // }

  // .AppContent {
  //   height: 100%;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: flex-start;
  //   align-items: left;
  //   padding: 40px;
  //   padding-top: 5rem;
  // }

  // .Card {
  //   width: 50%;
  // }
}

// .image {
//   background-image: url(../../../../../assets/wideImage3.jpg);
//   .size {
//     height: 100%;
//     width: 100%;
//     object-fit: cover;
//   }
// }

// .h2 {
//   position: absolute;
//   top: 200px;
//   left: 0;
//   width: 100%;
// }
