.ProductList {
  display: flex;
  flex-wrap: wrap;
}

.App {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
